$color_bg: #bababa;
$color_bg_graphite: #5e5e5e;
$color_white: #fff;
$color_black: #141414;
$color_bg_cards: #e3e3e3;

$color_font: #212121;
$color_font_pointer: #646464;

$font_alumni: Alumni Sans;
$font_anton: Anton;
$font_roboto: Roboto;

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 360px;
